body{
    overflow-x: hidden;
    background-color: #191818;
    color:#b1b1b1;
}

.bg-top{
    background-image: url('../img/bg.jpg') !important;
    width:100%;
    height:100%;
    padding:20px;
    color:#fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-transform: uppercase;
    color:#fff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 3.7em;
    text-shadow: 0px 4px 0px #b7b7b7;
}

h3{
    font-size: 2.3em;
    color:#fff;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    text-shadow: 0px 2px 0px #b7b7b7;
    padding-bottom: 20px;
}

a{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    color: #dc3545;
}

a:hover{
    color: #a9212e;
}

.main-title{
    font-family:'Roboto', sans-serif;
    font-weight:800;
    text-transform: uppercase;
    text-shadow: 0px 7px 0px #e42e2e;
    margin-top: 40px;
    font-size:4.7em;
}

.main-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    text-transform: uppercase;
    font-size:1.9em;
    letter-spacing: 9px;
    text-shadow: 0px 0px 9px #00000061;
    margin-bottom: 50px;
}

.bg-dark {
    background-color: #fff0 !important;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
}

.navbar-light .navbar-brand {
    
    color:#fff !important;
}

.footer-content{
    text-align: center;
    padding: 15px;
    background: #191818;
    color: #fff;
    padding-top: 30px;
    font-weight: 500;
}


.padding-container{
    padding: 12%;
}

.first-content {
    padding: 7%;
}

@media (min-width: 992px) {
    .navbar {
        height:100px;
    }
}

.rounded-circle{
    border-radius:0px !important;
}

.form-content{
    background-image: url('../img/reserve.png') !important;
    width:100%;
    height:100%;
    padding:90px;
    color:#fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    border-radius:0px;
}
.btn-primary{
    background-color: #dc3545;
    border-color: #a51f2c;
    border-radius: 40px;
    padding: 10px 55px 10px 55px;
    font-family: 'Open Sans';
    font-size:20px;
    font-weight: 600;
    text-transform: uppercase;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.btn-primary:hover{
    background-color: #a92734;
    border-color: #86141f;
}

.btn-primary:active,.btn-primar:visited,.btn-primar:link,.btn-primar:focus,.btn-primar:enabled,.btn-primar:default{
    background-color: #a92734;
    border-color: #86141f;
}

.order-content{
    background-image: url('../img/order.png') !important;
    width:100%;
    height:100%;
    padding:100px;
    color:#fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-final{
    background-image: url('../img/footer.png') !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    font-weight: 500;
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #dc3545;
    border-radius: 0px;
}

.menu{
    margin: 40px;
}

.section-title{
    padding-bottom: 35px;
}


.dropdown-menu{
    background-color: #00000070 !important;
    color:#fff !important;
}
 
.dropdown-item{
        color:#fff !important;
}

.dropdown-item:hover,.dropdown-item:active{
        color:#000 !important;
}

.footer-pad{
    padding: 5%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}





@media (max-width: 680px) {
    .main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0px 4px 0px #e42e2e;
    margin-top: 40px;
    font-size: 2.5em;
}
}
@media (max-width: 415px){
    .main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #e42e2e;
    margin-top: 40px;
    font-size: 2.3em;
}
}
@media (max-width: 415px){
    .resp-h {
    font-size: 8px;
    text-shadow: 0px 2px 0px #b7b7b7;
}
} 
    
@media (max-width: 415px) {
    h2 {
    text-shadow: 0px 2px 0px #b7b7b7;
}
}   
@media (max-width: 415px) {
    .btn-primary {
    font-size: 11px;
    padding: 15px 15px 15px 15px;
}
}    
    
    
    @media (max-width: 400px) {
    .main-title {
    text-shadow: 0px 3px 0px #e42e2e;
    font-size: 1.7em;
}
}    
    
@media (max-width: 415px) {
    .mb-3, .my-3{
        text-align: center;
        display: table;
        margin: auto;
    }
}
    